<h3>予定一覧</h3>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>

<p><%= link_to "新規追加", :new_schedule %></p>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= schedule.start_date.strftime("%Y/%m/%d") %></td>
          <td><%= schedule.end_date.strftime("%Y/%m/%d") %></td>
          <td><%= schedule.all_day ? '○' : '' %></td>
          <td><%= schedule.updated_at.to_s(:datetime_jp) %></td>
          <td>
            <%= link_to "詳細", schedule %>
          </td>
          <td>
            <%= link_to "編集", [:edit, schedule] %>
          </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<div>
<p>登録されている予定は全部で<span class="total-count"><%= @total_schedules %></span>件です</p>
<% today = Date.today %>
<p>本日の日付は<span class="total-count"><%= today.strftime("%Y/%m/%d") %></span>です</p>
</div>